{% extends 'base.html.twig' %}

{% block title %}New Configjeux{% endblock %}

{% block body %}
    <h1>Create new Configjeux</h1>

    {{ include('configjeux/_form.html.twig') }}

    <a href="{{ path('configjeux_index') }}">back to list</a>
{% endblock %}
